<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ephraim.kigamba.tasktimer"
    android:sharedUserId="com.ephraim.kigamba.tasktimer.apps"
    android:sharedUserLabel="@string/shared_user_label"
    android:versionCode="4"
    android:versionName="@string/app_version_name">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StopwatchActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".TimerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".PreferencesActivity"
            android:launchMode="singleTop" />

        <provider
            android:name=".providers.StopwatchContentProvider"
            android:authorities="com.ephraim.kigamba.tasktimer.providers.StopwatchContentProvider" />
        <provider
            android:name=".providers.TimerContentProvider"
            android:authorities="com.ephraim.kigamba.tasktimer.providers.TimerContentProvider" />

        <receiver android:name=".receivers.TimerExpiryBroadcastReceiver" />
        <receiver android:name=".MainActivity$MainActivityBroadcastReceiver" />
        <receiver android:name=".TimerActivity$TimerActivityBroadcastReceiver" />
        <receiver android:name=".receivers.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-sdk android:minSdkVersion="15" />
</manifest>